.footer {
    // border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1)),
    url(../../public/asset/pic2color.png), no-repeat;
    background-size: cover;
}

.logo {
    width: 173px;
    height: 87px;
    background: url(../../public/asset/logo.png);
    background-position: center;
    background-size: cover;

}

.text {
    width: auto;
    font-family: '?????';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.2em;
    flex: 1;
    flex-shrink: 1;
}

.contactTitle {
    width: auto;
    font-family: '?????';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.2em;
    flex: 1;
    flex-shrink: 1;
}

.emailLogo {
    background: url(../../public/asset/emaiLogo.png);
    width: 40px;
    height: 40px;
    background-size: cover;
}

.phoneLogo {
    background: url(../../public/asset/phoneLogo.jpg);
    width: 35px;
    height: 35px;
    background-size: cover;
}