.serviceTitleImage {
    background: url(../../../public/asset/pic1color.png);
    width: -webkit-fill-available;
    height: 156px;
    background-size: cover;
    background-position: right;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    background-position: top;

}

.serviceTitleText {
    font-family: '?????';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0.2em;

    color: #FFFFFF;
    text-shadow:
    -1px -1px 0 #171111,
    1px -1px 0 #171111,
    -1px 1px 0 #171111,
    1px 1px 0 #171111;
    
    // border: 1px solid #000000;
}

.imageStyling {
    border: 4px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));   
}

.lineupSwitch {
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.serviceText {
    font-family: '?????';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2em;

    color: #000000;
}

.cutDescriptionText {
    font-family: '?????';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2em;

    color: #000000;
}

.button3 {
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1)),
    url(../../../public/asset/pic5color.png), no-repeat;
    min-width: none; 
}

.button3:hover {
    background: url(../../../public/asset/pic1color.png) !important;
}