.serviceTitleImage {
    background: url(../../../public/asset/pic1color.png);
    width: -webkit-fill-available;
    height: 156px;
    background-size: cover;
    background-position: right;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    background-position: top;

}

.serviceTitleText {
    font-family: '?????';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0.2em;

    color: #FFFFFF;
    text-shadow:
    -1px -1px 0 #171111,
    1px -1px 0 #171111,
    -1px 1px 0 #171111,
    1px 1px 0 #171111;
    
    // border: 1px solid #000000;
}

.imageStyling {
    border: 4px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));   
}

.lineupSwitch {
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.serviceText {
    font-family: '?????';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2em;

    color: #000000;
}

.cutDescriptionText {
    font-family: '?????';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2em;

    color: #000000;
}

.button3 {
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1)),
    url(../../../public/asset/pic5color.png), no-repeat;
    min-width: none; 
}

.button3:hover {
    background: url(../../../public/asset/pic1color.png) !important;
}



//Modal Styling

.modal-card {
    
}

.modal-card-head {
    height: 90px;
    display: flex;
    justify-content: space-between;
}

.modal-card-body {
    background: url(../../../public/asset/pic3color.png);
    background-size: cover;  
    padding: 0px;  
}

.logo {
    background: url(../../../public/asset/logo.png);
    background-size: cover;
    background-position-y: center;
    height: 90px;
}

@media screen and (min-width: 769px) {
.modal-content, .modal-card {
    width: 753px;
    }
}   

.backgroundDifference {
    background: white;
    mix-blend-mode: difference;
}

.nonSelectedStep {
    font-family: '?????';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.2em;

    color: #fff;
    text-shadow:
    -1px -1px 0 #111,
    1px -1px 0 #111,
    -1px 1px 0 #111,
    1px 1px 0 #111;
}

.selected {
    font-family: '?????';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.2em;

    color: #fff;
    text-shadow:
    -1px -1px 0 #858080,
    1px -1px 0 #858080,
    -1px 1px 0 #858080,
    1px 1px 0 #858080;
}

.input, .textarea, .select select {
    background-color: white;
    border-color: #dbdbdb;
    border-radius: 4px;
    font-family: '?????';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.2em;

    color: #111;
}

.nextButton{
    font-family: '?????';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.2em;

    color: #111;
}

.nextButton:hover{
    background: url(../../../public/asset/pic2color.png) !important;
}

.returnButton {
    font-family: '?????';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.2em;

    color: #111;

}

.returnButton:hover {
    background: url(../../../public/asset/pic2color.png) !important;

}

.label {
    font-family: '?????';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.2em;

    color: #fff;
    text-shadow:
    -1px -1px 0 #111,
    1px -1px 0 #111,
    -1px 1px 0 #111,
    1px 1px 0 #111;
}

.confirmationText{
    font-family: '?????';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 100px;
    text-align: center;
    letter-spacing: 0.2em;

    color: #fff;
    text-shadow:
    -1px -1px 0 #111,
    1px -1px 0 #111,
    -1px 1px 0 #111,
    1px 1px 0 #111;

}