.modal-card {
    
}

.modal-card-head {
    height: 90px;
    display: flex;
    justify-content: space-between;
}

.modal-card-body {
    background: url(../../public/asset/pic3color.png);
    background-size: cover;  
    padding: 0px;  
}

.logo {
    background: url(../../public/asset/logo.png);
    background-size: cover;
    background-position-y: center;
    height: 90px;
}

@media screen and (min-width: 769px) {
.modal-content, .modal-card {
    width: 753px;
    }
}   

.backgroundDifference {
    background: white;
    mix-blend-mode: difference;
}

.nonSelectedStep {
    font-family: '?????';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.2em;

    color: #fff;
    text-shadow:
    -1px -1px 0 #111,
    1px -1px 0 #111,
    -1px 1px 0 #111,
    1px 1px 0 #111;
}

.selected {
    font-family: '?????';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.2em;

    color: #fff;
    text-shadow:
    -1px -1px 0 #858080,
    1px -1px 0 #858080,
    -1px 1px 0 #858080,
    1px 1px 0 #858080;
}

.input, .textarea, .select select {
    background-color: white;
    border-color: #dbdbdb;
    border-radius: 4px;
    font-family: '?????';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.2em;

    color: #111;
}

.nextButton{
    font-family: '?????';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.2em;

    color: #111;
}

.nextButton:hover{
    background: url(../../public/asset/pic2color.png) !important;
}

.returnButton {
    font-family: '?????';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.2em;

    color: #111;

}

.returnButton:hover {
    background: url(../../public/asset/pic2color.png) !important;

}

.label {
    font-family: '?????';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.2em;

    color: #fff;
    text-shadow:
    -1px -1px 0 #111,
    1px -1px 0 #111,
    -1px 1px 0 #111,
    1px 1px 0 #111;
}

.confirmationText{
    font-family: '?????';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 100px;
    text-align: center;
    letter-spacing: 0.2em;

    color: #fff;
    text-shadow:
    -1px -1px 0 #111,
    1px -1px 0 #111,
    -1px 1px 0 #111,
    1px 1px 0 #111;

}